default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\AppContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
